<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639885050390-d3kn4q9il57tm4f8k4t980ue3dmovj2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639885050390-d3kn4q9il57tm4f8k4t980ue3dmovj2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAh8mJrXIR-PKVd05otSKQ1SOL0--K9vbc</string>
	<key>GCM_SENDER_ID</key>
	<string>639885050390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladimir.hodaryonok.starMovie</string>
	<key>PROJECT_ID</key>
	<string>starmovie-e9120</string>
	<key>STORAGE_BUCKET</key>
	<string>starmovie-e9120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639885050390:ios:1c424f2856dc95df2ceb37</string>
</dict>
</plist>